<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Category</h2>
            <button class="au-btn au-btn-icon au-btn--blue" routerLink="/categoryaddedit" routerLinkActive="active">add</button>
        </div>
    </div>
</div>

<div class="card mt-2">
    <p-table
        [value]="categotyList"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">Name</th>
                <th style="width:20%">Discription</th>
                <th style="width:20%">Status</th>
                <th style="width:20%">Created Date</th>
                <th style="width:20%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td [ngClass]="category.status == 1 ? 'text-success' : 'text-danger'" >{{ category.status == 1 ? 'Active' : 'Inactive' }}</td>
                <td>{{ category.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <button routerLink="/categoryaddedit/{{category._id}}" >edit</button> / 
                    <button (click)="deleteCategory(category._id)">delete</button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>