@media(max-width:1600px){

}

@media(max-width:1440px){
    
}

@media(max-width:1199px){
    .login-left{width: 20rem;}
    .login-right {margin-left: 20rem;}
}

@media(max-width:1023px){
    .body-wrapper{padding: 0 0 0 200px;}
    .header{width: calc(100% - 200px);}
    body.sidebar-open .sidebar{left: 0; overflow-x: hidden; min-height: inherit; height: auto;}
    /*body.sidebar-close .sidebar:hover, body.sidebar-open .sidebar:hover {width: 200px;}
     .body-wrapper{padding-left: 50px;} */
    body.sidebar-close .sidebar{left: 0;}
    body.sidebar-close .body-wrapper{padding-left: 50px;}
}

@media(max-width:991px){
    .balance-detail-box{
        margin-bottom: 15px;
    }
    .login-left{width: 15rem;}
    .login-right {margin-left: 15rem;}
    .login-box{min-width: 30rem;}
    .sidebar{ background: transparent;}
    .hamburger-section{ padding: 35px 12px !important; width: 50px; background: #f1d55b;}
    .sidebar .iq-menu{ background: #008391; margin: 0; position: fixed; left: -230px; width: 230px; height: calc(100vh - 90px); top: 90px;}
    body.sidebar-close .sidebar .iq-menu{left: 0; width: 230px; overflow: auto !important;}
    body.sidebar-close .sidebar .iq-menu li a span, body.sidebar-close .sidebar .iq-menu li a i.pi-angle-right{display: block;}
    .header { width: calc(100% - 50px); left: 50px; min-height: 91px;}
    .body-wrapper{padding: 0;}
    body.sidebar-close .body-wrapper {
        padding-left: 0px;
    }
    body.sidebar-close .sidebar .iq-menu li{ width: 100%;}
    body.sidebar-close .sidebar .iq-menu li:hover .submenu{position: static;}
    /* .sidebar-close .sidebar .iq-menu li:hover ul, .sidebar-close .sidebar .iq-menu li.active:hover ul{position: static;} */
    .sidebar-close .sidebar .iq-menu li.active ul{display: block;}
    .sidebar-close .sidebar .iq-menu li ul{ padding-left: 0px !important;}
    .sidebar-open .ng-tooltip, .sidebar-close .ng-tooltip {
        display: none !important;
      }
      .sidebar-close .mobile-menu-bg{
          display: block;
          position: fixed;
        background: rgba(0,0,0,0.5);
        top: 90px;
        right: 0;
        height: 100%;
        width: 100%;
        }
        .hide-label{display: none;}
        .bottom-space-sm{margin-bottom: 10px !important;}
        .p-paginator-bottom .p-paginator-current{width:100%;}
}

@media(max-width:776px){
    .content-wrapper{padding: 110px 15px 50px;}
    .login-left{display: none;}
    .login-right {margin-left:0;}
    .login-box{padding: 20px 30px; min-width: 90%;}
    .login-logo{padding: 20px;}
    .appointment-table{
        width: 100% !important;
    }
    .appointment-popup{
        width: 60% !important;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        z-index: 99;
    }
    .appointment-popup-content{
        height: calc(100vh - 60px);
        overflow-y: auto;
    }
    .verticaltabs .verticaltabsmobile{display: block;}
    .verticaltabs .verticaltabsdesktop{display: none;}
}
.location_images{width: 50%;}
@media(max-width:640px){
    body .ui-table .ui-table-tbody > tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    .location_images{width: 100%;}
    
}


@media(max-width:600px){
    
}

@media(max-width:480px){
    .login-box{
        margin: 0 20px;
    }
    .login-box h2{
        font-size: 25px;
    }
    .login-box p{
        font-size: 16px;
    }
}

@media(max-width:380px){

}

@media screen and (max-width: 40rem) {
    .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td {
        display: flex !important;
        /* border: 0;
    clear: inherit !important;
    display: inline-block;
    float: none;
    text-align: left;
    width: 50% !important;border: 0 !important;word-break: break-word !important; */
    }
    .view-requests-table .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td {
        border: 0;
    clear: inherit !important;
    display: inline-block !important;
    float: none;
    text-align: left;
    width: 50% !important;border: 0 !important;word-break: break-word !important;
    }
    .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td .p-column-title{
        min-width: 55% !important;
    }
    .machine-log-table .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td .p-column-title{
        min-width: 100px !important;
    }
    .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td:last-child {
        border-bottom: 1px solid #dee2e6;
    }
    .machine-log-table .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td {
        word-break: break-word !important;
        white-space: pre-wrap;
    }

}


@media screen and (max-width: 40em){
    .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td {word-break: break-word;}
    }
    

