<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li *ngIf="!item.separator" [item]="item" [index]="i" [root]="true">
            <ng-container>
                <div *ngIf="root && item.visible !== false" class="layout-menuitem-root-text">{{item.label}}</div>
                <a *ngIf="(!item.routerLink || item.items) && item.visible !== false" [attr.href]="item.url"
                    (click)="itemClick($event)" [ngClass]="item.class" [attr.target]="item.target" tabindex="0" pRipple>
                    <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
                    <span class="layout-menuitem-text">{{item.label}}</span>
                </a>
            </ng-container>
        </li>
    </ng-container>
</ul>
