<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<ng-template [ngIf]="isAuthanticated">
    <div class="page-wrapper">
        <app-sidebar></app-sidebar>
        <div class="page-container">
            <app-header></app-header>
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <router-outlet></router-outlet>
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template [ngIf]="!isAuthanticated">
    <router-outlet></router-outlet>
</ng-template>