<div class="col-md-8 col-lg-8 card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-end mb-4">
      <h3 class="mb-0"><b>{{isAddMode ? 'Add Category' : (isViewMode ? 'Veiw Category' : 'Edit Category')}}</b></h3>
    </div>
    <form [formGroup]="categoryFrom" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label class="form-label" for="name">Name</label>
        <input formControlName="name" type="name" class="form-control" id="name" placeholder="Category Name" />
        <div class="error" *ngIf="(submitted && name.invalid)">
          Please provide a valid name.
        </div>
      </div>
      <div class="form-check form-switch mb-2">
        <label class="form-label" for="status">Status</label>
        <input formControlName="status" type="checkbox" checked class="form-check-input input-primary" id="status" />
      </div>
      <div class="d-gri d mt-4" *ngIf="!isViewMode">
        <button type="submit" class="btn btn-primary"> Submit </button>
      </div>
    </form>
  </div>
</div>