<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li routerLink="/" routerLinkActive="active"> <a class="js-arrow"> <i class="fas fa-tachometer-alt"></i>Dashboard</a> </li>
                <li routerLink="/category" routerLinkActive="active"> <a> <i class="fas fa-chart-bar"></i>Category</a> </li>
                <li routerLink="/product" routerLinkActive="active"> <a> <i class="fas fa-table"></i>Product</a> </li>
            </ul>
        </nav>
    </div>
</aside>