<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li routerLinkActive="active"> <a class="js-arrow" href="#"> <i class="fas fa-tachometer-alt"></i>Dashboard</a> </li>
                <li routerLink="/stocks" routerLinkActive="active"> <a> <i class="fas fa-chart-bar"></i>Stocks</a> </li>
                <li routerLink="/mutual-funds" routerLinkActive="active"> <a> <i class="fas fa-table"></i>Mutual Funds</a> </li>
                <li routerLinkActive="active"> <a> <i class="far fa-check-square"></i>Crypto</a> </li>
                <li routerLinkActive="active"> <a> <i class="fas fa-calendar-alt"></i>Gold</a> </li>
            </ul>
        </nav>
    </div>
</aside>